.containerCenter {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: 85%;
}
.login {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  form {
    margin-top: 0.5rem;
    width: 90%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
  }
  form button {
    height: 40px;
    font-size: 1.2rem;
  }
}
.text {
  color: var(--gray-050);
  cursor: pointer;
  &:hover {
    color: var(--white);
  }
}
@media (max-width: 620px) {
  .login {
    width: 95%;
  }
}
